:root {
    --bg-color: #ffffff;
    --bg-color-monitor: #000000;
    --bg-color-monitor-stand: #e8ebf0;
}

.image-container {
    /* height: 200px;
    width: 400px; */
    background-image: url("../assets/img/tokyo-street_639x434.jpg")
}

.image-container--cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.image-container--contain {
    background-size: contain;
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
}

#export-container {
    width: 768px;
    height: 432px;
    background-color: var(--bg-color);
}


/* 512 x 288
768 x 432
1024 × 576 */

.monitor-container {
    width: calc(528px + 2 * 10px);
    padding-top: calc((432px - (297px + 2 * 10px + 65px)) / 2);
    margin: 0 auto;
    position: relative;
}

.monitor-container>.monitor {
    width: calc(16px * 33);
    height: calc(9px * 33);
    position: relative;
    /* background: #ff6860; */
    border: 10px solid var(--bg-color-monitor);
    border-radius: 10px;
}

.monitor>div {
    position: absolute;
}

.monitor:before {
    content: "";
    position: absolute;
    left: calc((100% - 6px) / 2);
}

.monitor:before {
    top: -5px;
    margin: -2px 0 0 -2px;
    width: 4px;
    height: 4px;
    border-radius: 6px;
    background: var(--bg-color-monitor-stand);
}

.monitor-stand {
    width: 90px;
    height: 60px;
    bottom: -70px;
    left: 50%;
    margin-left: -45px;
    background: var(--bg-color-monitor-stand);
}

.monitor-stand:before,
.monitor-stand:after,
.grey-shadow:before,
.grey-shadow:after {
    content: "";
    position: absolute;
    top: 0;
}

.monitor-stand:before,
.monitor-stand:after {
    border-bottom: 60px solid var(--bg-color-monitor-stand);
}

.monitor-stand:before {
    border-left: 13px solid transparent;
    border-right: 0px solid transparent;
    left: -13px;
}

.monitor-stand:after {
    border-right: 13px solid transparent;
    border-left: 0px solid transparent;
    right: -13px;
}

.monitor-stand>div {
    position: absolute;
}

.grey-shadow {
    width: 90px;
    height: 14px;
    background: #00000040;
    top: 0;
}

.grey-shadow:before {
    border-left: 3px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 14px solid #00000040;
    left: -3px;
    z-index: 2;
}

.grey-shadow:after {
    border-right: 3px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 14px solid #00000040;
    right: -3px;
    z-index: 2;
}

.foot {
    background: var(--bg-color-monitor-stand);
    z-index: 1;
}

.foot.bottom:before {
    content: "";
    position: absolute;
    top: 0px;
}

.foot.bottom {
    width: 160px;
    height: 5px;
    bottom: -5px;
    left: 50%;
    margin-left: -80px;
    z-index: 999;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}